<nav>
    <ul class="pagination justify-content-center">
        {% if current_page > 1 %}
            <li class="page-item">
                <a class="page-link text-black" data-page="{{ current_page - 1 }}">&lsaquo;</a>
            </li>
        {% endif %}

        {% for page in range(1, total_pages + 1) %}
            <li class="page-item {% if page == current_page %}active disabled{% endif %}">
                <a class="page-link text-black" data-page="{{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if current_page < total_pages %}
            <li class="page-item">
                <a class="page-link text-black" data-page="{{ current_page + 1 }}">&rsaquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>
