<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password | Re-Vibe</title>
    <link rel="icon" href="../../static/assets/img/logo/revibes.svg">
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="static/css/css-new/toast.css" />

</head>

<body>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <!-- Contenedor para los toasts -->
                <div id="toastContainer" class="position-absolute top-0 start-50 translate-middle-x p-3"
                    style="z-index: 1050;">
                    <!-- Los toasts se añadirán aquí dinámicamente -->
                </div>

                <h2>Recuperar Contraseña</h2>
                <p>Por favor, introduce tu correo electrónico y te enviaremos una contraseña temporal.</p>
                <form id="forgotPasswordForm">
                    <div class="form-group">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" placeholder="correo@mail.com" class="form-control mb-2" id="email"
                            name="email" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar enlace de recuperación</button>

                </form>
                <hr>
                <a id="regresar" href="{{ url_for('login') }}" class="btn btn-primary">Regresar</a>
            </div>
        </div>
    </div>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js-be/forgot-password.js"></script>
</body>

</html>