<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .card {
            width: 100%;
            max-width: 400px;
            position: relative;
        }

        .toast-container {
            position: fixed;
            top: 1rem;
            right: 1rem;
            z-index: 1050;
        }

        .logo {
            width: 100px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card text-center">
            <div class="card-body">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
                <h2 class="card-title">Restablecer Contraseña</h2>
                <form id="resetForm" method="POST" action="/reset-password/{{ token }}">
                    <!-- Toast container -->
                <div class="toast-container" id="toastContainer"></div>
                    <div class="mb-3">
                        <label for="new_password">Nueva Contraseña</label>
                        <div class="input-group">
                            <input type="password" id="new_password" name="new_password" class="form-control" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="togglePassword"
                                    onclick="togglePasswordVisibility()">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password">Confirmar Contraseña</label>
                        <div class="input-group">
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control"
                                required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="togglePasswordConfirm"
                                    onclick="togglePasswordConfirmationVisibility()">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="token" value="{{ token }}">
                    <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- FontAwesome for eye icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <!-- AJAX and Toast -->
    <script>
        document.getElementById('resetForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        showToast('success', data.message);
                        setTimeout(function () {
                            window.location.href = "{{ url_for('login') }}";
                        }, 2000);
                    } else {
                        showToast('danger', data.message);
                    }
                })
                .catch(error => {
                    showToast('danger', 'Ocurrió un error al procesar la solicitud.');
                });
        });

        function showToast(type, message) {
            const toastHtml = `
                <div class="toast bg-${type} text-white" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body">
                        ${message}
                    </div>
                </div>
            `;
            document.getElementById('toastContainer').innerHTML = toastHtml;

            // Mostrar el toast y ocultarlo después de un tiempo
            const toastElement = document.querySelector('#toastContainer .toast');
            const toast = new bootstrap.Toast(toastElement, { delay: 3000 }); // 3 segundos
            toast.show();

            // Ocultar el toast después de 3 segundos
            setTimeout(() => {
                toastElement.remove();
            }, 5000);
        }

        function togglePasswordVisibility() {
            const passwordField = document.getElementById('new_password');
            const toggleButton = document.getElementById('togglePassword');
            const toggleIcon = toggleButton.querySelector('i');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordField.type = 'password';
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        }

        function togglePasswordConfirmationVisibility() {
            const passwordFieldConf = document.getElementById('confirm_password');
            const toggleButtonConf = document.getElementById('togglePasswordConfirm');
            const toggleIconConf = toggleButtonConf.querySelector('i');

            if (passwordFieldConf.type === 'password') {
                passwordFieldConf.type = 'text';
                toggleIconConf.classList.remove('fa-eye');
                toggleIconConf.classList.add('fa-eye-slash');
            } else {
                passwordFieldConf.type = 'password';
                toggleIconConf.classList.remove('fa-eye-slash');
                toggleIconConf.classList.add('fa-eye');
            }
        }
    </script>
</body>

</html>